<component name="ArtifactManager">
  <artifact type="war" name="mybatis_springmvc:war">
    <output-path>$PROJECT_DIR$/mybatis_springmvc/target</output-path>
    <root id="archive" name="mybatis-base.war">
      <element id="artifact" artifact-name="mybatis_springmvc:war exploded" />
    </root>
  </artifact>
</component>